$color-dark: #000000;
$color-light: lightgrey;


$font-f_first: "Montserrat", sans-serif;
$font-f_second: "Roboto", sans-serif;
$font-f_third: "Kaushan Script", cursive;

$col-white: #fff;

$text-light: #ccc;
$text-normal: #999;
$text-dark: #333;

$border: #e7e7e7;
$like-menu: #95e1d3;
$header-hover: #f38181;
$bg-icon: #fce38a;

$gradient-overlay: linear-gradient(
    rgba(243, 129, 129, 0.9) 0%,
    rgba(252, 227, 138, 0.9) 100% );